<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block title %} <title>Ecoleta</title> {% endblock title %}
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap">
  {% block styles %}{% endblock styles %}
</head>
<body>
  <section id={{pageHome}}>
    {% block content %}{% endblock content %}
  </section>
  
  {% block modal %}{% endblock modal %}
  <script type="module" src="/scripts/scripts.js"></script>
</body>
</html>