@import 'reset';
@import 'variables';
@import 'header';

#page-create-point {
  width: 90%;
  max-width: 68.75rem;
  margin: 0 auto;

  form {
    width: 100%;
    max-width: 45rem;
    background: white;
    padding: 4.063rem;
    border-radius: .5rem;
    margin: 5rem auto;

    h1 {
      font-size: 2.25rem;
    }

    fieldset {
      margin-top: 4rem;
      
      legend {
        h2 {
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }

      .field-group {
        display: flex;

        .field + .field {
          margin-left: 1.5rem;
        }
      }

      .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        flex: 1;

        label {
          font-size: .875rem;
          margin-bottom: .5rem;
        }

        input, select {
          background: $input-color;
          padding: 1rem 1.5rem;
          font-size: 1rem;
          outline: none;
          border-radius: .5rem;
        }
  
        select {
          @include appearance;
          cursor: pointer;
        }
      }

      .items-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        li {
          background: #f5f5f5;
          list-style-type: none;
          border: .125rem solid #f5f5f5;
          border-radius: .5rem;
          height: 11.25rem;
          padding: 2rem 1.5rem 1rem;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          cursor: pointer;

          &.selected {
            background: #e1faec;
            border: 2px solid #34cb79;
          }

          img, span {
            pointer-events: none;
          }

          span {
            margin-top: .75rem;
            flex: 1;
            display: flex;
            align-items: center;
            color: $title-color;
          }
        }
      }
    }

    button {
      width: 100%;
      max-width: 16.25rem;
      height: 3.438rem;
      background: $primary-color;
      border-radius: .5rem;
      color: white;
      font-weight: 700;
      margin-top: 2.5rem;
      font-size: 1rem;
      transition: background-color 400ms;

      &:hover {
        background-color: #2fb86e;
        cursor: pointer;
      }
    }
  }
}