@import 'reset';
@import 'variables';

#page-home {
  height: 100vh;
  background: url('../images/icons/home-background.svg') no-repeat;
  background-position: 40vw bottom;
  @media (max-height: 800px) {
    background-position-y: 10vh;
  }

  @media (max-width: 900px) {
    background-position-x: 70vw;
  }

  .content {
    width: 90%;
    max-width: 68.75rem;
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;

    @media (max-width: 900px) {
      align-items: center;
      text-align: center;
    }
  }

  header {
    margin-top: 2.8125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      color: $title-color;
      font-weight: 700;

      @media (max-width: 900px) {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
      }

      span {
        margin-right: .9375rem;
        display: flex;
        background-image: url('../images/icons/log-in.svg');
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  main {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    @media (max-width: 900px) {
      align-items: center;
    }

    h1 {
      font-size: 3.4375rem;
      color: $title-color;
    }

    p {
      color: $title-color;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      line-height: 2.375rem;
    }

    a {
      width: 100%;
      max-width: 22.5rem;
      height: 4.5rem;
      border-radius: .5rem;
      margin-top: 2.5rem;
      background-color: $primary-color;
      transition: 400ms;
      display: flex;
      align-items: center;
      &:hover {
        background-color: #2fb86e
      }

      span {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        width: 4.5rem;
        height: 4.5rem;
        background: rgba(0, 0, 0, 0.08);
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          content: '';
          background-image: url('../images/icons/search.svg');
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      strong {
        color: white;
        flex: 1;
        text-align: center;
      }
    }
  }
}