@import 'variables';

.repeat-header {
  margin-top: 2.813rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    color: $title-color;
    font-weight: 700;

    @media (max-width: 900px) {
      span.text { display: none; }
    }

    span.icon {
      margin-right: .9375rem;
      display: flex;
      background-image: url('../images/icons/arrow-left.svg');
      width: 1.25rem;
      height: 1.5rem;
    }
  }
}