html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f0f5;
  -webkit-font-smothing: antialiased;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

#page-home {
  height: 100vh;
  background: url("../images/home-background.svg") no-repeat;
  background-position: 40vw bottom;
}

@media (max-height: 800px) {
  #page-home {
    background-position-y: 10vh;
  }
}

@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }
}

#page-home .content {
  width: 90%;
  max-width: 68.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  #page-home .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

#page-home header {
  margin-top: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page-home header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #322153;
  font-weight: 700;
}

@media (max-width: 900px) {
  #page-home header a {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 500px) {
  #page-home header a {
    width: 100%;
    bottom: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#page-home header a span {
  margin-right: .9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/icons/log-in.svg");
  width: 1.25rem;
  height: 1.25rem;
}

#page-home main {
  max-width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 900px) {
  #page-home main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#page-home main h1 {
  font-size: 3.4375rem;
  color: #322153;
}

@media (max-width: 500px) {
  #page-home main h1 {
    font-size: 2rem;
  }
}

#page-home main p {
  color: #322153;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  line-height: 2.375rem;
}

@media (max-width: 500px) {
  #page-home main p {
    font-size: 2rem;
    font-size: 1rem;
    margin-top: .5rem;
  }
}

#page-home main a {
  width: 100%;
  max-width: 22.5rem;
  height: 4.5rem;
  border-radius: .5rem;
  margin-top: 2.5rem;
  background-color: #34cb79;
  -webkit-transition: 400ms;
  transition: 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-home main a:hover {
  background-color: #2fb86e;
}

#page-home main a span {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  width: 4.5rem;
  height: 4.5rem;
  background: rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-home main a span::after {
  content: '';
  background-image: url("../images/icons/search.svg");
  width: 1.25rem;
  height: 1.25rem;
}

#page-home main a strong {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#modal {
  width: 100vw;
  height: 100vh;
  background: #030a14ef;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 400ms;
  transition: 400ms;
}

#modal.hide {
  display: none;
}

#modal .content {
  color: white;
  width: 26.25rem;
}

#modal .content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

#modal .content .header h1 {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

#modal .content .header a {
  background-image: url("../images/icons/x.svg");
  width: 1.25rem;
  height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .0006rem;
}

#modal .content form label {
  font-size: .875rem;
  line-height: 1rem;
  display: block;
  margin-bottom: .5rem;
}

#modal .content form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#modal .content form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f0f0f5;
  border-radius: .5rem 0 0 .5rem;
  padding: 1rem 1.5rem;
  color: #6c6c80;
  outline: none;
}

#modal .content form button {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #34cb79;
  border-radius: 0 .5rem .5rem 0;
  cursor: pointer;
  outline: none;
}

#modal .content form button:hover {
  background-color: #2fb85e;
}
/*# sourceMappingURL=index.css.map */