html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f0f5;
  -webkit-font-smothing: antialiased;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

.repeat-header {
  margin-top: 2.813rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repeat-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #322153;
  font-weight: 700;
}

@media (max-width: 900px) {
  .repeat-header a span.text {
    display: none;
  }
}

.repeat-header a span.icon {
  margin-right: .9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/icons/arrow-left.svg");
  width: 1.25rem;
  height: 1.5rem;
}

body {
  background: white;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f0f0f5;
  z-index: -1;
  height: 16rem;
}

#page-search-results {
  width: 90%;
  max-width: 68.75rem;
  margin: 0 auto;
}

#page-search-results main {
  margin: 48px;
}

#page-search-results main h4 {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
}

#page-search-results main .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

@media (max-width: 900px) {
  #page-search-results main .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#page-search-results main .card {
  position: relative;
}

#page-search-results main .card .exclude {
  cursor: pointer;
  float: right;
  background: red;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: absolute;
  z-index: 1;
  right: -.8125rem;
  top: -1.0625rem;
}

#page-search-results main .card .exclude:hover {
  background: #e60505;
}

#page-search-results main .card h1 {
  margin-top: 32px;
  font-size: 2.25rem;
  line-height: 2.5625rem;
  color: #322153;
}

#page-search-results main .card h3 {
  margin: 24px 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.125rem;
  color: #34cb79;
}

#page-search-results main .card p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #6c6c80;
}

#page-search-results main .card img {
  width: 100%;
  height: 9.375rem;
  border-radius: .5rem .5rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  #page-search-results main .card img {
    height: 250px;
  }
}
/*# sourceMappingURL=search-results.css.map */