@import 'reset';
@import 'variables';
@import 'header';

body {
  background: white;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $input-color;
    z-index: -1;
    height: 16rem;
  }
}

#page-search-results {
  width: 90%;
  max-width: 68.75rem;
  margin: 0 auto;

  main {
    margin: 48px;

    h4 {
      font-weight: normal;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 2rem;
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
      @media (max-width: 900px) {
        grid-template-columns: 1fr;
      }
    }

    .card {
      position: relative;
      .exclude {
        cursor: pointer;
        float: right;
        background: red;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        z-index: 1;
        right: -.8125rem;
        top: -1.0625rem;

        &:hover {
          background: #e60505;
        }
      }
      h1 {
        margin-top: 32px;
        font-size: 2.25rem;
        line-height: 2.5625rem;
        color: #322153;
      }

      h3 {
        margin: 24px 0;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.125rem;
        color: $primary-color;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.625rem;
        color: #6c6c80;
      }

      img {
        width: 100%;
        height: 9.375rem;
        border-radius: .5rem .5rem 0 0;
        object-fit: cover;
        @media (max-width: 900px) {
          height: 250px;
        }
      }
    }


  }
}